@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;600&display=swap");
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
  height: 100vh;
  // cursor: url("https://res.cloudinary.com/dvkugaw3b/image/upload/v1641562028/cursor_ad12rf.png"),
  //   auto;
  cursor: url("https://upload.wikimedia.org/wikibooks/en/a/a7/OoT_Lens_of_Truth_icon.png"),
    auto;
  color: #fff;
  overflow: hidden;
}

h1 {
  font-size: 100px;
  margin: 0;
  font-weight: 800;
  line-height: 1;
}

h2 {
  font-weight: 300;
}

.pattern {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/assets/pattern.svg);
  background-size: 1000px;
  animation: backgroundMove 25s infinite linear;
}

@keyframes backgroundMove {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: 2000px;
  }
}

.cursor {
  // width: 10px;
  // height: 10px;
  // background-color: #9013fe;
  // border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: height 0.25s, width 0.25s;

  &.is-down {
    width: 80px;
    height: 80px;

    span {
      top: 80px;
      left: 80px;
    }
  }

  span {
    position: absolute;
    top: 20px;
    left: 20px;
  }
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: lighten;
}

.scratched-out {
  mix-blend-mode: darken;
}

.info {
  background-color: #9013fe;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.bio {
  width: 50%;
  height: 50%;
  box-sizing: border-box;

  .synopsis {
    width: 50%;
    font-weight: 200;
    line-height: 1.6;
  }
}

.portret {
  width: 50%;
  height: 50%;
  box-sizing: border-box;

  .image {
    width: 50%;
    clip-path: polygon(
      0 10%,
      10% 0,
      90% 0,
      100% 10%,
      100% 90%,
      90% 100%,
      10% 100%,
      0% 90%,
      0% 10%
    );
  }
}
